<div class="jumbotron">
  <h1 class="display-4">{{title}}</h1>
  <p class="lead">Fateh down ideas for your next Youtube videos</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/ideas/add" role="button">Add idea</a>
  </p>
</div>
